{
  "semi": false,
  "svelteSortOrder": "scripts-markup-styles",
  "svelteStrictMode": false,
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": true,
  "svelteIndentScriptAndStyle": true,
  "useTabs": true,
  "tabWidth": 4,
  "singleQuote": true
}
