.datatable{background:#fff;}
/* Table container .dt-table :
 * <section class="dt-table">
 *      <table>...</table>
 * </section>
*/
.datatable .dt-table{border-bottom:1px solid #eee;}
.datatable .dt-table::-webkit-scrollbar {width: 10px;height:10px;}
.datatable .dt-table::-webkit-scrollbar-track {background:#fafafa;}
.datatable .dt-table::-webkit-scrollbar-thumb {background:#eee;}
.datatable .dt-table::-webkit-scrollbar-thumb:hover {background: #e0e0e0;}
.datatable .dt-table::-webkit-scrollbar-track-piece:start {top:40px;}

.datatable thead{background-color:#fff;}
.datatable th{padding:10px 15px;border-bottom:1px solid #eee;}
.datatable thead tr:last-child{border-bottom:2px solid #eee;}
.datatable .sortable th{background-image:url('./assets/sort.svg');background-position:95% 50%;background-size:12px;background-repeat:no-repeat;cursor:pointer;}
.datatable .sortable th.asc{background-image:url('./assets/asc.svg');}
.datatable .sortable th.desc{background-image:url('./assets/desc.svg');}
.datatable th.filter{padding:0;background-image:none;background-color:#fff;border:1px solid #fafafa;}
.datatable th.filter input{padding:0;margin:0;height:25px;width:100%;border:none;border-bottom:1px solid #e0e0e0;text-align:center;outline:none;border-radius:0;font-size:14px;}
.datatable th.filter input::placeholder {color:#e0e0e0;font-style:italic;font-size:13px;}
.datatable tbody tr:hover{background:#fafafa;}
.datatable td{padding:3px;}

.datatable .dt-search{height:38px;padding-bottom:10px;}
/** top-LEFT elements (search input) **/
.datatable .dt-search input{border:1px solid #eee;outline:none;padding:2px 10px;margin:0;height:28px;}



.datatable .dt-pagination{display:flex;flex-direction:row;justify-content:space-between;height:35px;padding-top:5px;}
/** bottom-LEFT elements (rows count) **/
.datatable .dt-pagination-rowcount{height:30px;line-height:30px;font-size:14px;}
/** bottom-RIGHT elements (buttons) **/
.datatable .dt-pagination-buttons{display:flex;flex-direction:row;height:30px;}
.datatable .dt-pagination-buttons button{height:30px;width:30px;background:#fff;color:#616161;font-size:13px;margin:0;padding:0;transition:all, .2s;border-radius:0;line-height:30px;}
.datatable .dt-pagination-buttons button:not(.active):hover{background:#e0e0e0;cursor:pointer;}
.datatable .dt-pagination-buttons button.text{min-width:70px;cursor:pointer;}
.datatable .dt-pagination-buttons button.ellipse:hover{background:#fff;cursor: default;}
.datatable .dt-pagination-buttons button.active{background:#eee;}
.datatable .dt-pagination-buttons button.disabled:hover{background:#fff;cursor: default;}