*{box-sizing:border-box;}
*{
	--primary:#b71540;
	--color:#444;
	--label:#38ada9;
	--hljs: #171c19;
}


	/* 40b3ff     ff3e00    676778 */

.hljs{background:var(--hljs);}
.hljs::-webkit-scrollbar {width:8px;height:8px;}
.hljs::-webkit-scrollbar-track {background:#3d433f;}
.hljs::-webkit-scrollbar-thumb {background:#000;}
.hljs::-webkit-scrollbar-thumb:hover {background: #111411;}
.hljs::-webkit-scrollbar-track-piece:start {top:40px;}
body {margin: 0; font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; font-size: 14px; line-height: 1.5;color: #333;}
body > * {scrollbar-width:thin}
.code{position:relative;overflow:auto;max-width:880px;max-height:640px;}
.code::-webkit-scrollbar {width:8px;height:8px;}
.code::-webkit-scrollbar-track {background:#f5f5f5;}
.code::-webkit-scrollbar-thumb {background:#e0e0e0;}
.code::-webkit-scrollbar-thumb:hover {background: #bdbdbd;}
.code::-webkit-scrollbar-track-piece:start {top:40px;}

a{color:inherit;}

pre{margin:0 !important;}

.i18n-form .text-field.i18n{width:256px !important;margin-right:32px !important;}
.i18n-form .text-field.i18n.small{width:200px  !important;}
.i18n-form .text-field.i18n.tall{width:368px  !important;}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {-webkit-box-shadow: 0 2px 2px 0 rgba(189,189,189, 0.14), 0 3px 1px -2px rgba(189,189,189, 0.12), 0 1px 5px 0 rgba(189,189,189, 0.2);box-shadow: 0 2px 2px 0 rgba(189,189,189, 0.14), 0 3px 1px -2px rgba(189,189,189, 0.12), 0 1px 5px 0 rgba(189,189,189, 0.2);}
.z-depth-1-half, .btn:hover, .btn-large:hover, .btn-small:hover, .btn-floating:hover {-webkit-box-shadow: 0 3px 3px 0 rgba(189,189,189, 0.14), 0 1px 7px 0 rgba(189,189,189, 0.12), 0 3px 1px -1px rgba(189,189,189, 0.2);box-shadow: 0 3px 3px 0 rgba(189,189,189, 0.14), 0 1px 7px 0 rgba(189,189,189, 0.12), 0 3px 1px -1px rgba(189,189,189, 0.2);}
.z-depth-2 {-webkit-box-shadow: 0 4px 5px 0 rgba(189,189,189, 0.14), 0 1px 10px 0 rgba(189,189,189, 0.12), 0 2px 4px -1px rgba(189,189,189, 0.3);box-shadow: 0 4px 5px 0 rgba(189,189,189, 0.14), 0 1px 10px 0 rgba(189,189,189, 0.12), 0 2px 4px -1px rgba(189,189,189, 0.3);}
.z-depth-3 {-webkit-box-shadow: 0 8px 17px 2px rgba(189,189,189, 0.14), 0 3px 14px 2px rgba(189,189,189, 0.12), 0 5px 5px -3px rgba(189,189,189, 0.2);box-shadow: 0 8px 17px 2px rgba(189,189,189, 0.14), 0 3px 14px 2px rgba(189,189,189, 0.12), 0 5px 5px -3px rgba(189,189,189, 0.2);}
.z-depth-4 {-webkit-box-shadow: 0 16px 24px 2px rgba(189,189,189, 0.14), 0 6px 30px 5px rgba(189,189,189, 0.12), 0 8px 10px -7px rgba(189,189,189, 0.2);box-shadow: 0 16px 24px 2px rgba(189,189,189, 0.14), 0 6px 30px 5px rgba(189,189,189, 0.12), 0 8px 10px -7px rgba(189,189,189, 0.2);}
.z-depth-5, .modal {-webkit-box-shadow: 0 24px 38px 3px rgba(189,189,189, 0.14), 0 9px 46px 8px rgba(189,189,189, 0.12), 0 11px 15px -7px rgba(189,189,189, 0.2);box-shadow: 0 24px 38px 3px rgba(189,189,189, 0.14), 0 9px 46px 8px rgba(189,189,189, 0.12), 0 11px 15px -7px rgba(189,189,189, 0.2);}


